/* Resets */

html {
	
}



/* CSS for Library Masthead */

#masthead { /* box holding banner/logo, banner search box, banner links, and ask us button */
	font-size: 12px;
	background-image: url(http://library.duke.edu/imgs/blue-note/header-gradient.gif);
	width: 100%;
	height: 5.5em;
	min-height: 72px;
}
#mobileMasthead {
	display: none;
}
a.skipLink { /* layout for skip navigation link */
	position: absolute;
	left: -1000em;
	top: -1000em;
	width: 20em;
}
#dlLogo { /* Duke University Libraries Logo */
	float: left;
	margin: 8px 0px 0px 18px;
	width: 330px;
}
#dlLogo a { /*to remove link underline under ask us image in Safari */
	text-decoration: none;
}
#dlLogo img {
	border: none;
}
#bannerRight { /*box within masthead holding banner search box, banner links, and ask us button */
	float: right;
	margin: 0px 10px 0px 0px;
}
#googleDiv {
	float: left;
	text-align: right;
}
#bannerSearchImage {
	margin-top: 0px;
	padding-right: 17px;
	margin-bottom: 4px;
}
#googleSearchBox {
	margin-top: -4px;
	margin-bottom: 0px;
}
#btnG {
	vertical-align: bottom;
	margin-left: 3px;
}
#askUsButton {
	float: right;
	width: 90px;
	margin: 18px 15px 0px 8px;
}
#askUsButtonLarge {
	float: right;
	width: 180px;
	margin: 13px 10px 0px 8px;
}
#reportProblemButton {
float: right;
width: 165px;
margin: 13px 10px 0px 8px;
}
#askUsButton a, #askUsButtonLarge a { /*to remove link underline under ask us image in Safari */
	text-decoration: none;
}
#askUsButton img, #askUsButtonLarge img {
	border: none;
}
#bannerLinks {
	color: #ffffff;
	font-size: 80%;
	font-weight: bold;
	padding-right: 8px;
	margin-top: 0em;
}

#bannerLinks a:link,
#bannerLinks a:visited,
#bannerLinks a:active {
	color: #ffffff;
	text-decoration: none;
}
#bannerLinks a:hover {
	color: #b2b2b2;
	text-decoration: underline;
}
#mastheadLinkBar { /* navigation bar below banner */
	font-size: 12px;
	width: 100%;
	background-image: url(http://library.duke.edu/imgs/blue-note/masthead-link-background.gif);
	background-repeat: repeat-x;
	min-height: 25px;
	height: 1em;
	padding-top: 6px;
	text-align: right;
}
#mastheadLinks { /* links in navigation bar below banner */
	color: #000000;
	font-size: 90%;
	font-weight: bold;
}
#mastheadLinks a:link,
#mastheadLinks a:visited,
#mastheadLinks a:active {
	color: #000000;
	text-decoration: none;
}
#mastheadLinks a:hover {
	color: #003366;
	text-decoration: underline;
}
#secondaryBanner { /* optional secondary banner for branch Libraries, etc. */
	width: 100%;
	margin: 0px;
}
#secondaryBanner a { /*to remove link underline under ask us image in Safari */
	text-decoration: none;
}
#secondaryBanner img {
	border: none;
}
#mastheadShadow { /* div with banner shadow */
	background-image: url(http://library.duke.edu/imgs/blue-note/homepage/banner-shadow.jpg);
	background-repeat: repeat-x;
	width: 100%;
	height: 8px;
	margin-bottom: 0px;
}


h1#page-title {
	font-family: Garamond, serif;
	font-size: 28px;
	margin-top: 0;
	margin-bottom: .75em;
	color: #036;
}


/* Nav bar */

#main-menu {
width: 100%;
clear: both;
height: 30px;
margin-top: -8px;
-webkit-box-shadow: 2px 2px 2px 0px #CCC;
-moz-box-shadow: 2px 2px 2px 0px #ccc;
box-shadow: 2px 2px 2px 0px #CCC;
padding-top: 0;
}

#main-menu ul {
width: 100%;
padding-top: 2px;
}

#main-menu ul li {
display: inline;
margin: 0;
padding: 0;
float: left;
width: 20%;
}

#main-menu ul li:first-child {
margin-left: -40px;
}

#main-menu a {
text-decoration: none;
color: #728302;
text-transform: uppercase;
font-size: 70%;
text-align: center;
padding: 4px 0;
display: block;
border-right: 1px solid #C7C3C3;
background: #E1DFD8 url(http://library.duke.edu/imgs/common/effects/background-horizontal-nav-e1dfd8.jpg) repeat-x 0 0;
}

#main-menu a:hover, #main-menu a.active {
background: none;
background-color: #FAFAF5;
text-decoration: none;
color: #001A57;
}

#main-menu ul li:first-child {
margin-left: 0px;
}

#navigation ul.links li, #navigation ul.menu li {
padding: 0 0 0 0;
}


/* Breadcrumb */

.breadcrumb {
font-family: Arial, Helvetica, sans-serif;
font-size: 80%;
font-weight: bold;
padding: 0;
margin: 4px 0 10px 0;
}

.breadcrumb a {
text-decoration: none;
color: #036;
}

.breadcrumb a:hover {
color: #369;
text-decoration: underline;
}




/* CSS for Library Footer */
.dashedRule {
	background-image: url(http://library.duke.edu/imgs/blue-note/dot_line.gif);
	background-repeat: repeat-x;
	margin-top: 15px;
	margin-bottom: -10px;
}
.librariesPipe { margin: 0 .35em; }
#mobileFooter { display: none; }
#shareThis {
	text-align: center;
	padding-top: 1em;
	clear: both;
}
#globalFooter {
	float: left;
	clear: both;
	width: 100%;
	font-size: 12px;
}
#globalFooter a:link,
#globalFooter a:visited,
#globalFooter a:active {
	color: #000000;
	text-decoration: none;
}
#globalFooter a:hover {
	color: #003366;
	text-decoration: underline;
}
#libraries {
	color: #000000;
	font-size: 80%;
	font-weight: bold;
	line-height: 150%;
	text-align: center;
	text-decoration: none;
	padding: 5px;
}
#globalTextMenu {
	background-image: url(http://library.duke.edu/imgs/blue-note/footer_nav_bkgnd.gif);
	background-repeat: repeat-x;
	min-height: 12px;
	height: 1em;
	color: #000000;
	font-size: 80%;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
#footerImageSpan {
	position: relative;
	left: 20px;
	top: -50px;
}
#footerImageSpan img {
	border: none;
}
#lastModified {
	font-size: 80%;
	text-align: center;
	padding: 15px 0px 0px 0px;
	margin: 0px;
	clear: both;
}
#creativeCommons {
	clear: both;
	position: relative;
	top: -50px;
}
#creativeCommonsImage { height: 31px; }
#alternateCopyright {
	clear: both;
	position: relative;
	top: -50px;
}
#alternateCopyright a:link,
#alternateCopyright a:active {
	text-decoration: underline;
	color: #003366;
}
#alternateCopyright a:hover,
#alternateCopyright a:visited {
	text-decoration: underline;
	color: #336699;
}

/* Connect Updates */
#shareThis1 {
	margin: 5px 0 0 0;
	width: 500px;
	float: right;
	font-weight: bold;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	line-height: 1.25em;
}
#lastModified1 {
	font-size: 80%;
	text-align: center;
	padding: 5px 0px 15px 0px;
	margin: 0px;
	clear: both;
}
#footerRegion {
	clear: both;
	width: 100%;
	font-size: 12px;
}
#footerRegion a:link,
#footerRegion a:visited,
#footerRegion a:active {
	color: #000000;
	text-decoration: none;
}
#footerRegion a:hover {
	color: #003366;
	text-decoration: underline;
}
#footerLinksA {
	color: #000000;
	font-size: 80%;
	font-weight: bold;
	line-height: 160%;
	text-align: left;
	padding: 5px;
	clear: both;
}
#footerLinksB {
	background-color: #e1dfd7;
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;
	color: #000000;
	font-size: 80%;
	font-weight: bold;
	padding: 8px;
	text-align: center;
	clear: both;
}
#blueDevil { 
	float: left;
	margin: 0 15px 5px 5px;
	width: 29px;
	height: 55px;
}
#blueDevil img { border: none; }
#connectWithUs {
	font-weight: bold;
	font-size: smaller;
	text-align: left;
	margin: 5px;
	float: left;
	width: 300px;
}
#connectWithUs img { border: none; margin-right: 8px; }
.footerPhone { float: left; }
#ccCopyright, #altCopyright {
	margin: 5px 5px 0 0;
	width: 500px;
	float: right;
	font-weight: bold;
	font-size: smaller;
	text-align: right;
	color: #929292;
}
#ccCopyright a:link, #altCopyright a:link,
#ccCopyright a:active, #altCopyright a:active {
	text-decoration: underline;
	color: #929292;
}
#ccCopyright a:hover, #altCopyright a:hover,
#ccCopyright a:visited, #altCopyright a:visited {
	text-decoration: none;
	color: #336699;
}

#connectWithUs p, #ccCopyright p {
	font-size: 70%;
	line-height: 1.25em;
}

/*-------------- PANELS and PANES, etc --------------*/
.pane-content ul.listNoDots {
	list-style-type: none;
	padding: 0 !important;
}
	.pane-content ul.listNoDots li {
		margin-left: 0;
	}

.pane-content a {
	text-decoration: none;
}
.pane-content a:hover {
	text-decoration: underline;
}




/* Feature Text */

.featureText {
position: absolute;
right: 10px;
top: 30px;
width: 330px;
background: #444;
border: 1px solid #333;
padding: 10px;
filter: alpha(opacity=80);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
-moz-opacity: 0.80;
opacity: 0.8;

}

.featureText h2 {
color: white;
font-size: 24px;
font-family: Garamond, sans-serif;
line-height: 1em;
margin-top:.25em;
margin-bottom: .5em;
}


.featureText p {
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
color: #fff;
line-height: 1.5em;
padding-bottom: .5em;
}

.featureText a {
color: #eee;
text-decoration: underline;
font-weight: bold;
}

.featureText a:hover {
color: #ddd;
}

.views-field-field-slider-image {
border: 1px solid #ccc;
padding:0;
margin:0;
}



/* Content Styles */

.shadedBox {
	background: url("http://library.duke.edu/imgs/common/effects/gradient_lighttan_105.jpg") repeat-x scroll left top #E8E6E0;
	border: 1px solid #DCDAD4;
	border-radius: 5px 5px 5px 5px;
	padding: 5px 15px;
}
