/* Resets */

html {

}

body {
	font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h2 a, h3 a, h4 a {
	font-family: Interstate, Verdana, Arial, Helvetica, sans-serif;
}

h1, h2 {
	color: #036;
}

h3, h4 {
	color: #036;
}

h2 {
	font-size: 14px;
	margin-top: 0.75em;
	margin-bottom: 0.5em;
	line-height: 1.5em;
}

h4 {
	line-height: 1.5em;
}

a:hover, a:visited {
	color: #369;
}

a:link, a:active {
	color: #036;
}

a {
	text-decoration: none;
}

.allcaps {
	text-transform: uppercase;	
}





/* CSS for Library Masthead */

#masthead { /* box holding banner/logo, banner search box, banner links, and ask us button */
	font-size: 12px;
	background-image: url(http://library.duke.edu/imgs/blue-note/header-gradient.gif);
	width: 100%;
	height: 5.5em;
	min-height: 72px;
}
#mobileMasthead {
	display: none;
}
a.skipLink { /* layout for skip navigation link */
	position: absolute;
	left: -1000em;
	top: -1000em;
	width: 20em;
}
#dlLogo { /* Duke University Libraries Logo */
	float: left;
	margin: 8px 0px 0px 18px;
	width: 330px;
}
#dlLogo a { /*to remove link underline under ask us image in Safari */
	text-decoration: none;
}
#dlLogo img {
	border: none;
}
#bannerRight { /*box within masthead holding banner search box, banner links, and ask us button */
	float: right;
	margin: 0px 10px 0px 0px;
}
#googleDiv {
	float: left;
	text-align: right;
}
#bannerSearchImage {
	margin-top: 3px;
	padding-right: 17px;
	margin-bottom: 4px;
}
#googleSearchBox {
	margin-top: -4px;
	margin-bottom: 0px;
}
#btnG {
	vertical-align: bottom;
	margin-left: 3px;
}
#askUsButton {
	float: right;
	width: 90px;
	margin: 18px 15px 0px 8px;
}
#askUsButtonLarge {
	float: right;
	width: 180px;
	margin: 13px 10px 0px 8px;
}
#reportProblemButton {
float: right;
width: 165px;
margin: 13px 10px 0px 8px;
}
#askUsButton a, #askUsButtonLarge a { /*to remove link underline under ask us image in Safari */
	text-decoration: none;
}
#askUsButton img, #askUsButtonLarge img {
	border: none;
}
#bannerLinks {
	color: #ffffff;
	font-size: 90%;
	font-weight: bold;
	padding-right: 8px;
	margin-top: 5px;
}

#bannerLinks a:link,
#bannerLinks a:visited,
#bannerLinks a:active {
	color: #ffffff;
	text-decoration: none;
}
#bannerLinks a:hover {
	color: #b2b2b2;
	text-decoration: underline;
}
#mastheadLinkBar { /* navigation bar below banner */
	font-size: 12px;
	width: 100%;
	background-image: url(http://library.duke.edu/imgs/blue-note/masthead-link-background.gif);
	background-repeat: repeat-x;
	min-height: 25px;
	height: 1em;
	padding-top: 6px;
	text-align: right;
}
#mastheadLinks { /* links in navigation bar below banner */
	color: #000000;
	font-size: 100%;
	font-weight: bold;
}
#mastheadLinks a:link,
#mastheadLinks a:visited,
#mastheadLinks a:active {
	color: #000000;
	text-decoration: none;
}
#mastheadLinks a:hover {
	color: #003366;
	text-decoration: underline;
}
#secondaryBanner { /* optional secondary banner for branch Libraries, etc. */
	width: 100%;
	margin: 0px;
}
#secondaryBanner a { /*to remove link underline under ask us image in Safari */
	text-decoration: none;
}
#secondaryBanner img {
	border: none;
}
#mastheadShadow { /* div with banner shadow */
	background-image: url(http://library.duke.edu/imgs/blue-note/homepage/banner-shadow.jpg);
	background-repeat: repeat-x;
	width: 100%;
	height: 8px;
	margin-bottom: 0px;
}


h1#page-title {
	font-family: Garamond, serif;
	font-size: 28px;
	margin-top: 0;
	margin-bottom: .75em;
	color: #036;
}


/* Nav bar */

#main-menu {
width: 100%;
clear: both;
height: 30px;
margin-top: -16px;
-webkit-box-shadow: 2px 2px 2px 0px #CCC;
-moz-box-shadow: 2px 2px 2px 0px #ccc;
box-shadow: 2px 2px 2px 0px #CCC;
padding-top: 0;
padding-bottom: 0;
margin-bottom: 8px;
}

#main-menu ul {
width: 100%;
padding-top: 2px;
}

#main-menu ul li {
display: inline;
margin: 0;
padding: 0;
float: left;
width: 20%;
}

#main-menu ul li:first-child {
margin-left: -40px;
}

#main-menu a {
text-decoration: none;
color: #728302;
text-transform: uppercase;
font-size: 80%;
text-align: center;
padding: 8px 0;
display: block;
border-right: 1px solid #C7C3C3;
background: #E1DFD8 url(http://library.duke.edu/imgs/common/effects/background-horizontal-nav-e1dfd8.jpg) repeat-x 0 0;
}

#main-menu a:hover, #main-menu a.active {
background: none;
background-color: #FAFAF5;
text-decoration: none;
color: #001A57;
}

#main-menu ul li:first-child {
margin-left: 0px;
}

#navigation ul.links li, #navigation ul.menu li {
padding: 0 0 0 0;
}



/* Side nav */

.right-nav ul {
border-top: 1px solid #D3D8A5;
list-style: none outside none;
margin: 0 0 2em;
width: 100%;
padding-left: 0;
}

.right-nav ul li {
border-bottom: 1px solid #D3D8A5;
padding: 7px 0;
font-size: 105%;
line-height: 1.2em;
list-style: none outside none;
margin: 0.8em 0 0;
}

.right-nav a {
color: #728302;
background-color: white;
padding-left: 10px;
display: block;
}

.right-nav a:hover, .right-nav a.current {
text-decoration: none;
color: #001A57;
display: block;
background: white url(http://library.duke.edu/imgs/common/effects/bullet.gif) no-repeat 0 0.5em;
}




/* Breadcrumb */

.breadcrumb {
font-family: Arial, Helvetica, sans-serif;
font-size: 85%;
font-weight: bold;
padding: 0;
margin: 8px 0 0px 0;
}

.breadcrumb a {
text-decoration: none;
color: #036;
}

.breadcrumb a:hover {
color: #369;
text-decoration: underline;
}







/* CSS for Library Footer */
.dashedRule {
	background-image: url(http://library.duke.edu/imgs/blue-note/dot_line.gif);
	background-repeat: repeat-x;
	margin-top: 15px;
	margin-bottom: -10px;
}
.librariesPipe { margin: 0 .35em; }
#mobileFooter { display: none; }
#shareThis {
	text-align: center;
	padding-top: 1em;
	clear: both;
}
#globalFooter {
	float: left;
	clear: both;
	width: 100%;
	font-size: 12px;
}
#globalFooter a:link,
#globalFooter a:visited,
#globalFooter a:active {
	color: #000000;
	text-decoration: none;
}
#globalFooter a:hover {
	color: #003366;
	text-decoration: underline;
}
#libraries {
	color: #000000;
	font-size: 90%;
	font-weight: bold;
	line-height: 150%;
	text-align: center;
	text-decoration: none;
	padding: 5px;
}
#globalTextMenu {
	background-image: url(http://library.duke.edu/imgs/blue-note/footer_nav_bkgnd.gif);
	background-repeat: repeat-x;
	min-height: 12px;
	height: 1em;
	color: #000000;
	font-size: 100%;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
#footerImageSpan {
	position: relative;
	left: 20px;
	top: -50px;
}
#footerImageSpan img {
	border: none;
}
#lastModified {
	font-size: 100%;
	text-align: center;
	padding: 15px 0px 0px 0px;
	margin: 0px;
	clear: both;
}
#creativeCommons {
	clear: both;
	position: relative;
	top: -50px;
}
#creativeCommonsImage { height: 31px; }
#alternateCopyright {
	clear: both;
	position: relative;
	top: -50px;
}
#alternateCopyright a:link,
#alternateCopyright a:active {
	text-decoration: underline;
	color: #003366;
}
#alternateCopyright a:hover,
#alternateCopyright a:visited {
	text-decoration: underline;
	color: #336699;
}

/* Connect Updates */
#shareThis1 {
	margin: 5px 0 0 0;
	width: 500px;
	float: right;
	font-weight: bold;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	line-height: 1.25em;
}
#lastModified1 {
	font-size: 80%;
	text-align: center;
	padding: 5px 0px 15px 0px;
	margin: 0px;
	clear: both;
}
#footerRegion {
	clear: both;
	width: 100%;
	font-size: 12px;
}
#footerRegion a:link,
#footerRegion a:visited,
#footerRegion a:active {
	color: #000000;
	text-decoration: none;
}
#footerRegion a:hover {
	color: #003366;
	text-decoration: underline;
}
#footerLinksA {
	color: #000000;
	font-size: 90%;
	font-weight: bold;
	line-height: 160%;
	text-align: left;
	padding: 5px;
	clear: both;
}
#footerLinksB {
	background-color: #e1dfd7;
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;
	color: #000000;
	font-size: 90%;
	font-weight: bold;
	padding: 8px;
	text-align: center;
	clear: both;
}
#blueDevil { 
	float: left;
	margin: 0 15px 5px 5px;
	width: 29px;
	height: 55px;
}
#blueDevil img { border: none; }
#connectWithUs {
	font-weight: bold;
	font-size: smaller;
	text-align: left;
	margin: 5px;
	float: left;
	width: 300px;
}
#connectWithUs img { border: none; margin-right: 8px; }
.footerPhone { float: left; }
#ccCopyright, #altCopyright {
	margin: 5px 5px 0 0;
	width: 500px;
	float: right;
	font-weight: bold;
	font-size: smaller;
	text-align: right;
	color: #929292;
}
#ccCopyright a:link, #altCopyright a:link,
#ccCopyright a:active, #altCopyright a:active {
	text-decoration: underline;
	color: #929292;
}
#ccCopyright a:hover, #altCopyright a:hover,
#ccCopyright a:visited, #altCopyright a:visited {
	text-decoration: none;
	color: #336699;
}

#connectWithUs p, #ccCopyright p {
	font-size: 90%;
	line-height: 1.25em;
}

/*-------------- PANELS and PANES, etc --------------*/
.pane-content ul.listNoDots {
	list-style-type: none;
	padding: 0 !important;
}

	.pane-content ul.listNoDots li {
		margin-left: 2em;
		margin-bottom: 1em;
	}

.pane-content a {
	text-decoration: none;
}
.pane-content a:hover {
	text-decoration: underline;
}




/* Feature Text */

.view-featured-slider {
	margin-bottom: 20px;	
}

.featureText {
position: absolute;
right: 10px;
top: 30px;
width: 330px;
background: #444;
border: 1px solid #333;
padding: 10px;
filter: alpha(opacity=80);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
-moz-opacity: 0.80;
opacity: 0.8;

}

.featureText h2 {
color: white;
font-size: 24px;
font-family: Garamond, sans-serif;
line-height: 1em;
margin-top:.25em;
margin-bottom: .5em;
}


.featureText p {
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
color: #fff;
line-height: 1.5em;
padding-bottom: .5em;
}

.featureText a {
color: #eee;
text-decoration: underline;
font-weight: bold;
}

.featureText a:hover {
color: #ddd;
}

.views-field-field-slider-image {
border: 1px solid #ccc;
padding:0;
margin:0;
}



/* Content Styles */

.shadedBox {
	background: url("http://library.duke.edu/imgs/common/effects/gradient_lighttan_105.jpg") repeat-x scroll left top #E8E6E0;
	border: 1px solid #DCDAD4;
	border-radius: 5px 5px 5px 5px;
	padding: 5px 15px;
	margin-bottom: 20px;
}

.shadedBox h2 {
	border-bottom: 1px dotted #DCDAD4;
	padding-bottom: .5em;
}

.shadedBox p {
	margin-top: .5em;
	margin-bottom: .5em;
}


.aboutStyle h2 {
	color: white;
	background: url(http://library.duke.edu/imgs/common/effects/gradient_blue_31.jpg) repeat-x top left #314197;
	margin-left: -16px;
	margin-right: -16px;
	padding: 10px 21px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}


.panel-col {
	
	width: 31% !important;
	border-right: 1px solid #E6E6E6;
	padding-right: 10px;
	margin-right: 10px;
	border-left: 1px solid #E6E6E6;
	padding-left: 10px;
	margin-left: 10px;
}

.panel-col-first, .panel-col-last {
	width: 32% !important;
	border-right: none;
	padding-right: 0;
	margin-right: 0;
	padding-left:0;
	margin-left: 0;
	
}

.imageFrame {
	background: none repeat scroll 0 0 white;
	border: 1px solid #CCC;
	padding: 3px;
	border-radius: 5px 5px 5px 5px;
}

.button p {
	text-align: center;
	font-size: 95%;
}

.button a {
	
	font-weight: bold;
	text-transform: uppercase;
	display: block;
}




/* Twitter box */

.twitter-feed-frontpage {
	background: #2daebf;
	padding: 5px 0 5px 0;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
}

.twitter-feed-frontpage h2 {
	font-size: 13pt;
	color: #fff;
	text-align: center;
	display: block;
	margin:0;
	padding:0 0 0px 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	background: #2daebf;
}

.view-site-tweets {
	background: #2daebf;	
}

.view-site-tweets ul {
	list-style: none;
	margin: 0;
	padding:5px;
	background: #fff;
	margin: 0 5px 10px 5px;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
}

.view-site-tweets ul li {
	list-style: none;
	margin:0;
	padding:0 0 10px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 1.35em;
	
}

.view-site-tweets ul li.views-row-first {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}

.view-site-tweets ul li.views-row-last {
	border-top: 1px solid #eee;
	padding-top: 10px;
}

.view-site-tweets .more-link {
	display: block;
	padding: 5px 10px 35px 10px;
	text-align: center;
	background: #2daebf url('http://widgets.twimg.com/i/widget-logo.png') no-repeat top center;
	border-radius: 0px 0px 5px 5px; 
	-moz-border-radius: 0px 0px 5px 5px; 
	-webkit-border-radius: 0px 0px 5px 5px;
}

.view-site-tweets .more-link a {
	display: none;
}

.views-field-created-time {
	color: #999;	
}

.views-field-profile-image-url {
	display:inline;
	float: left;
	margin: 0 10px 10px 0;
}


/* Search Box */

.boxShadow {
	box-shadow: -4px 4px 2px 2px #888;
	-moz-box-shadow: -4px 4px 2px 2px #888;
	-webkit-box-shadow: -4px 4px 2px 2px #888;
}

div.exhibit-facet-header, div.exhibit-flowingFacet-header {
	background: url(http://library.duke.edu/imgs/blue-note/tabularheaderback.jpg) 0px 0px repeat-x scroll #2E3B81;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: white;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: white;
	box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 3px;
	color: white;
	padding: 5px 2px 5px 3px;
}

.bigBoldCapitals {
	font-size: 140%;
	font-weight: bold;
	margin-left: 8px;
	text-transform: uppercase;
}

div.exhibit-text-facet {
	background-color: #F2F0EB;
	border: 1px solid #DBD8D0;
	border-image: initial;
	padding: 3px;
}

.button3d, .button3d:visited {
	border: none;
	background: #0E1F6F url(http://library.duke.edu/imgs/common/effects/button-gradient-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;
	margin: 0;
}

.blue.button3d {
	background-color: #2DAEBF;
}

.small.button3d {
	font-size: 11px;
}



/* Tables */


.infoTable {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.infoTable td {
padding: .25em 1em .25em 1em;
border-bottom: 1px dotted #DCDAD4;
margin:0;
}



/* Layout */

.landing-page-right-sidebar {
	width: 90% !important;	
}

.home-spacer {
	margin-bottom: 86px;	
}

.bottom-margin {
	margin-bottom: 20px;	
}

.inner-center-column {
	width: 31% !important;
	border-right: 1px solid #E6E6E6;
	padding-right: 5px;
	margin-right: 5px;
	border-left: 1px solid #E6E6E6;
	padding-left: 5px;
	margin-left: 5px;
}

.inner-left-column, 
.inner-right-column {
	width: 31% !important;
}


